{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row" style="display: flex; flex-direction: row; margin: auto">

        {% for photo in photos %}
            <div class="card" style="width: 13rem; margin: 20px">
                <a href="{{ path('photo_detail', {'id': photo.id}) }}">
                    <img src="{{ asset('assets/img/' ~photo.titre) }}" class="card-img-top"/>
                </a>
                <div class="card-body" style="margin: auto">
                    <p class="card-text"><b>{{ photo.nom }}</b></p>
                    <p class="card-text" >par <i> {{ photo.proprietaire.pseudo }}</i></p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block title %}
My photos
{% endblock %}

{% block titre %}
    Mes photos
{% endblock %}